Package: [[artifactId]]
Version: [[version]]
Section: libs
Priority: optional
Architecture: all
Depends: rs-glassfish, libmysql-java
Maintainer: Jorge Miramontes <jorge.miramontes@rackspace.com>
Description: Openstack  Atlas Cloud Load Balancing solution
 that currently runs under the Glassfish web server
Distribution: development
